.loginPage {
    height: 750px;
}

.mainBar {
    height: 100px;
    width: 100%;
    background-color: #755c5c;
    position: relative;
}

.mainLogo {
    background-image: url('../logo/uniform_logo.png');
    height: 100px;
    width: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
}

form {
    margin-top: 120px;
    margin-left: 500px;
    max-width: 480px;
    padding: 20px;
    border: 2px solid #ff8d3f;
    border-radius: 5px;
    background-color: white;
}

.loginFormGroup h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: bolder;
    color: #ff8d3f;
}

label {
    display: block;
    margin-bottom: 10px;
    flex: 1;
}

.loginPage input {
    flex: 1;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ff8d3f;
    border-radius: 3px;
}

.mypage-btn {
    border-radius: 30px;
    height: 70px;
    width: 70px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 33px;
    margin-top: 13px;
    text-align: center;
}

.loginButton {
    width: 100%;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 1px;
    border: 1px solid #ff8d3f;
    border-radius: 5px;
    background-color: #ff8d3f;
}

.belowFormGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.rememberId {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rememberId label {
    display: flex;
    font-size: 11px;
    align-items: center;
    margin-right: 30px;
}

.rememberId input {
    margin-top: 12px;
}

.signUpFindGroup {
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
    gap: 10px;
    white-space: nowrap;
}

.signUp {
    display: flex;
}

/*아이디 찾기 페이지*/
.idFindFormGroup h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: bolder;
    color: #ff8d3f;
}

.idFind {
    display: flex;
}

.idFindButton {
    width: 100%;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 1px;
    border: 1px solid #ff8d3f;
    border-radius: 5px;
    background-color: #ff8d3f;
}

/*패스워드 찾기 페이지*/
.passwordFindFormGroup h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: bolder;
    color: #ff8d3f;
}

.passwordFindButton {
    width: 100%;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 1px;
    border: 1px solid #ff8d3f;
    border-radius: 5px;
    background-color: #ff8d3f;
}