.bar {
  height: 100px;
  width: 100%;
  background-color: #755c5c;
  position: absolute;
}

.logo {
  background-image: url('./logo/uniform_logo.png');
  height: 100px;
  width: 300px;
  background-size : cover;
  background-position : center;
  position: relative;
}

.menu-container {
  display: flex;
  padding: 40px;
}
